<p>task-card-component works!</p>
<div class="task-card">
  <h4>{{ task.title }}</h4>
  <p>{{ task.description }}</p>
  <div class="task-card-footer">
    <div class="task-users">
      <div *ngFor="let user of task.shared_with" class="task-user-avatar"></div>
    </div>
    <span class="task-date">{{ task.endDate | date: 'MMM, dd' }}</span>
  </div>

  <div class="card-options" (click)="toggleMenu($event)">
    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><circle cx="12" cy="12" r="1"/><circle cx="12" cy="5" r="1"/><circle cx="12" cy="19" r="1"/></svg>
    <div class="options-menu" *ngIf="isMenuOpen">
      <a (click)="onEdit($event)">Edit</a>
      <a (click)="onDelete($event)">Delete</a>
    </div>
  </div>
</div>