<div class="login-container">

  <div class="branding-section">
    <div class="branding-content">
      <h1 class="logo">organizr</h1>
      <p class="tagline">Fast, efficient and productive</p>
      <p class="description">A organization platform to make your life easier</p>
    </div>
  </div>

  <div class="login-section">
    <div class="login-card">
      <h2>Login</h2>

      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">

        <div class="form-group">
          <label for="email">Email</label>
          <input
            id="email"
            type="email"
            formControlName="email"
            placeholder="e.g. maria@email.com"
            [ngClass]="{ 'is-invalid': submitted && f['email'].errors }"
          />
          <div *ngIf="submitted && f['email'].errors" class="invalid-feedback">
            <div *ngIf="f['email'].errors['required']">O email é obrigatório</div>
            <div *ngIf="f['email'].errors['email']">O email deve ser um endereço válido</div>
          </div>
        </div>

        <div class="form-group">
          <label for="password">Password</label>
          <div class="password-wrapper">
            <input
              id="password"
              [type]="passwordFieldType"
              formControlName="password"
              placeholder="••••••••••••"
              [ngClass]="{ 'is-invalid': submitted && f['password'].errors }"
            />
            <span class="password-toggle-icon" (click)="togglePasswordVisibility()">
              <svg *ngIf="!passwordVisible" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye-slash" viewBox="0 0 16 16">
                <path d="M13.359 11.238C15.06 9.72 16 8 16 8s-3-5.5-8-5.5a7.028 7.028 0 0 0-2.79.588l.77.771A5.94 5.94 0 0 1 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.134 13.134 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755-.165.165-.337.328-.517.486l.708.709z"/>
                <path d="M11.297 9.176a3.5 3.5 0 0 0-4.474-4.474l.823.823a2.5 2.5 0 0 1 2.829 2.829l.822.822zm-2.943 1.288.78.781c.42.126.86.195 1.313.195a3.5 3.5 0 0 0 3.5-3.5c0-.453-.07-.894-.195-1.313l.78-.78a4.5 4.5 0 0 1-6.23 6.23l.78-.78z"/>
                <path d="M3.35 5.47c-.18.16-.353.322-.518.487A13.134 13.134 0 0 0 1.172 8l.195.288c.335.48.83 1.12 1.465 1.755.165.165.337.328.517.486l.708-.709a12.337 12.337 0 0 1-1.465-1.755c.18-.26.412-.566.697-.863l.714.714zm8.982 4.042L9.337 7.5l.708-.707.015.015a3.5 3.5 0 0 1 4.474 4.474l.015.015-.707.707-1.829-1.828z"/>
                <path d="M1.15 1.15l13.7 13.7-1.414 1.414-13.7-13.7L1.15 1.15z"/>
              </svg>
              <svg *ngIf="passwordVisible" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye" viewBox="0 0 16 16">
                <path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.133 13.133 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.133 13.133 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5c-2.12 0-3.879-1.168-5.168-2.457A13.133 13.133 0 0 1 1.172 8z"/>
                <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0z"/>
              </svg>
            </span>
          </div>
          <div *ngIf="submitted && f['password'].errors" class="invalid-feedback">
            <div *ngIf="f['password'].errors['required']">A palavra-passe é obrigatória</div>
          </div>
        </div>

        <button type="submit" class="btn-login" [disabled]="loginForm.invalid">Login</button>
      </form>

      <p class="signup-link">
        Don't have an account? <a routerLink="/signup">Sign up</a>
      </p>

    </div>
  </div>
</div>